@model WebDangKyXeMay.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <p>
                @Html.DisplayNameFor(model => model.IDUser)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUser)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.UserName)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            <p>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt>
            <p>
                @Html.DisplayNameFor(model => model.DiaChi)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.SDT)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.DOB)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.CMND)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.NgayCap)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCap)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.NoiCap)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiCap)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.accountName)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountName)
        </dd>

        <dt>
            <p>
                @Html.DisplayNameFor(model => model.Role)
            </p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
