@model WebDangKyXeMay.Models.DangKyXeMay

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Đăng ký xe máy</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ToKhaiDK_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToKhaiDK_ID)
                @Html.ValidationMessageFor(model => model.ToKhaiDK_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.registerID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.registerID)
                @Html.ValidationMessageFor(model => model.registerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_ownerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.co_ownerName)
                @Html.ValidationMessageFor(model => model.co_ownerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_ownerCMND, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.co_ownerCMND)
                @Html.ValidationMessageFor(model => model.co_ownerCMND)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_ownerNgayCap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.co_ownerNgayCap)
                @Html.ValidationMessageFor(model => model.co_ownerNgayCap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.co_ownerNoiCap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.co_ownerNoiCap)
                @Html.ValidationMessageFor(model => model.co_ownerNoiCap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Co_ownAdress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Co_ownAdress)
                @Html.ValidationMessageFor(model => model.Co_ownAdress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiXeMay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoaiXeMay)
                @Html.ValidationMessageFor(model => model.LoaiXeMay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MauSon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MauSon)
                @Html.ValidationMessageFor(model => model.MauSon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NhanHieu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NhanHieu)
                @Html.ValidationMessageFor(model => model.NhanHieu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CongSuat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CongSuat)
                @Html.ValidationMessageFor(model => model.CongSuat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NuocSX, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NuocSX)
                @Html.ValidationMessageFor(model => model.NuocSX)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamSX, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamSX)
                @Html.ValidationMessageFor(model => model.NamSX)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDongCo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoDongCo)
                @Html.ValidationMessageFor(model => model.SoDongCo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoKhung, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoKhung)
                @Html.ValidationMessageFor(model => model.SoKhung)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KichThuoc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KichThuoc)
                @Html.ValidationMessageFor(model => model.KichThuoc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrongLuong, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrongLuong)
                @Html.ValidationMessageFor(model => model.TrongLuong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdateDate)
                @Html.ValidationMessageFor(model => model.UpdateDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
