@model IEnumerable<WebDangKyXeMay.Models.DangKyXeMay>

@{
    ViewBag.Title = "Danh sách đăng ký xe";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToKhaiDK_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registerID)
        </th>
        <th>
            Tên người dùng
        </th>
        <th>
            CMND
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            @Html.DisplayNameFor(model => model.co_ownerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.co_ownerCMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Co_ownAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiXeMay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MauSon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CongSuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NuocSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDongCo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoKhung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KichThuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrongLuong)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToKhaiDK_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registerID)
        </td>
        <td>
            @(item.registerID==null?"":item.User.UserName)
        </td>
        <td>
            @(item.registerID == null ? "" : item.User.CMND)
        </td>
       
        <td>
            @(item.registerID == null ? "" : item.User.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.co_ownerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.co_ownerCMND)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Co_ownAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiXeMay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MauSon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CongSuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NuocSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDongCo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoKhung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KichThuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrongLuong)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ToKhaiDK_ID }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<h6> *** ĐSH: Đồng sở hữu ***</h6>
